* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* NAV MENU */

.nav{
    list-style:none;
    margin:0;
    padding:0;
    background-color: black;
    text-align:center;
}
.nav .logo {
    float: left;
    position: absolute;
    left: 24%;
    margin-top: 10px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 10px
}

.nav a:hover {
    color: #b6b5b5;
    cursor: pointer;
}

.undernav{
    list-style:none;
    margin:0;
    padding:0;
    background-color: #F5F5F6;
    text-align:center;
}
.undernav li{
    display:inline;
}
.undernav a{
    display:inline-block;
    padding:10px;
    color: #b8b8c0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 1px;
    font-size: 12px;
    font-weight: bolder;
}

.undernav a:hover {
    color: #646363;
    cursor: pointer;
}

.promo{
    list-style:none;
    margin:0;
    padding:0;
    background-color: #e43d2f;
    text-align:center;
}
.promo li{
    display:inline;
}
.promo a{
    display:inline-block;
    padding:10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 1px;
    font-size: 10px;
    font-weight: bolder;
}

.promo a:hover {
    cursor: pointer;
}

/*ACCOUNT*/

.account {
    position: absolute;
    left: 35%;
    top: 25%;
}

.account h1 {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

.account input[type=email], input[type=password] {
    width: 520px;
    padding-left: 10px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account input[type=submit] {
    height: 42px;
    width: 152px;
    background-color: #d2232a;
    margin-top: 10px;
    margin-left: 190px;
    border: none;
    color: white;
    margin-bottom: 10px;
}

.account input[type=submit]:hover {
    background-color: #a61c21;
    cursor: pointer;
}

.account .left {
    float: left;
}

.account .left a {
    text-decoration: none;
    color: #d53339;
}

.account .right {
    float: right;
}

.account .right a {
    text-decoration: none;
    color: #d53339;

}

/* PROFILE */

.profile {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.profile-logout input[type=submit] {
    color: white;
    border: none;
    background-color: #d2232a;
    font-weight: bolder;
    text-align: center;
    width: 152px;
    height: 42px;
    border-radius: 10px;
    margin-left: 46.5%;
}

.profile-logout input[type=submit]:hover {
    cursor: pointer;
    background-color: #a61c21;
}