* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/* NAV MENU */

.nav{
    list-style:none;
    margin:0;
    padding:0;
    background-color: black;
    text-align:center;
}
.nav .logo {
	float: left;
	position: absolute;
	left: 24%;
	margin-top: 10px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 10px
}

.nav a:hover {
	color: #b6b5b5;
	cursor: pointer;
}

.undernav{
    list-style:none;
    margin:0;
    padding:0;
    background-color: #F5F5F6;
    text-align:center;
}
.undernav li{
    display:inline;
}
.undernav a{
    display:inline-block;
    padding:10px;
    color: #b8b8c0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 1px;
    font-size: 12px;
    font-weight: bolder;
}

.undernav a:hover {
	color: #646363;
	cursor: pointer;
}

.promo{
    list-style:none;
    margin:0;
    padding:0;
    background-color: #e43d2f;
    text-align:center;
}
.promo li{
    display:inline;
}
.promo a{
    display:inline-block;
    padding:10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 1px;
    font-size: 10px;
    font-weight: bolder;
}

.promo a:hover {
	cursor: pointer;
}

.product-window {
   height: 415px;
   width: 350px;
   font-size: 25px;
   margin:5px;
   border-radius: 25px;
   padding:5px 10px;
   margin: 10px 5px;
   color: black;
   float: left;
   text-align: center;
   margin-top: 65px;
   left: 19%;
   position: relative;
}

/* SHOP TITLE */

.title {
	margin-left: 45%;
	margin-top: 30px;
	font-size: 25px;

}

/* PRODUCTS */
.product-window img {
	width: 330px;
	height: 320px;
}

.product-window:last-child{
    margin-bottom:100px;
}

/* DROPDOWN */

.dropbtn {
  color: black;
  border-radius: 5px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.product-dropdown {
  position: relative;
  left: 6%;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.product-dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.product-dropdown:hover .dropbtn {
  background-color: #f9f9f9;
}